

@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");





.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}


/* Testimonials */
#testimonials{}
#testimonials article{text-align:center;}
#testimonials article *{margin:0; padding:0;}
#testimonials article figure{display:inline-block; margin-bottom:20px;}
#testimonials article figure img{float:left; margin-right:15px; border-radius:50%;}
#testimonials article figure figcaption{float:left; margin-top:30px; font-size:1.4rem; text-align:left;}
#testimonials article figure figcaption .heading{font-size:1.4rem;}
#testimonials article figure figcaption em{display:block; margin-top:-5px; font-size:.8rem; font-style:normal;}
#testimonials article blockquote{margin-bottom:20px; padding:20px; border-radius:25px 0;}
#testimonials article blockquote::before{top:15px; left:15px; font-size:30px; line-height:30px;}


#testimonials article blockquote{color:#474747; background-color:#FFFFFF;}
#testimonials article blockquote::before{color:rgba(0,0,0,.05);}
#testimonials article blockquote::after{border-top-color:#FFFFFF;}



/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:978px){
	.hoc{max-width:90%;}


}

@media screen and (max-width:450px){

	#testimonials article figure img{float:none; margin:0 0 20px 0;}
	#testimonials article figure figcaption{float:none; margin:0; text-align:center;}
}

 .coloured {
     color: #FFFFFF;
     background-color: #97A9BD;
 }
